.web-icon {
    width: auto;
    position: relative;
    height: 133.7px;
}
.web {
    width: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 33px;
}
.uxui-icon {
    width: auto;
    position: relative;
    height: 133.7px;
}
.uiux {
    align-self: stretch;
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
}
.uxui {
    width: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
.data-science-icon {
    width: auto;
    position: relative;
    height: 137px;
}
.data {
    margin-block-start: 0;
    margin-block-end: 4px;
}
.science {
    margin: 0;
}
.data-science {
    width: 163px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.block-chain-icon {
    width: auto;
    position: relative;
    height: 152.6px;
}
.blockchain1 {
    align-self: stretch;
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
    display: inline-block;
    height: 54px;
    flex-shrink: 0;
}
.blockchain {
    width: 283px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.categories {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    font-size: 28px;
    color: #efefef;
    font-family: 'Nunito Sans';
}

@media (max-width: 768px) {
    .categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-items: center;
        margin-top: 2rem;;
    }
  
    .categories > div {
        width: 100%;
        max-width: 150px; 
        text-align: center;
    }
    .web-icon, .uxui-icon, .data-science-icon, .block-chain-icon {
        height: 100px;
    }
}