.email-text {
    position: relative;
    font-size: 15px;
}
.main-organizer {
    position: absolute;
    top: calc(50% + 79.5px);
    left: calc(50% - 16.5px);
    filter: blur(8px);
    transform:  rotate(-90deg);
    transform-origin: 0 0;
}
.position-name {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 20px;
    color: #4ab4f5;
    text-align: center;
    line-height: 1.5;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0 8px rgba(74, 180, 245, 1));
}
.position {
    position: absolute;
    top: 65%;
    left: -5px;
    transform: translateY(-50%);
    width: 33px;
    height: 100%;
}
.frame-icon1 {
    width: 220.5px;
    position: relative;
    height: 317.7px;
    object-fit: cover;
}
.email-ico-icon {
    width: 20px;
    position: relative;
    height: 20px;
}
.member-name {
    position: relative;
}
.email-ico-parent {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2px 0px;
    box-sizing: border-box;
    gap: 3px;
    text-align: center;
}
.frame-div {
    width: 305px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 0px;
}
.frame-group {
    position: absolute;
    top: calc(50% - 195.25px);
    left: calc(50% - 169px);
    width: 337px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
    font-size: 20px;
    color: #efefef;
}
.coreteam-position {
    width: 280px;
    position: relative;
    height: 390px;
}
.mentor {
    transform: translateX(168%);
}
.core-team {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 26px;
    font-size: 24px;
    color: #4ab4f5;
    font-family: 'Nunito Sans';
}


@media (max-width: 768px) {
    .core-team {
        flex-wrap: nowrap;
        display: flex;
        justify-content: start;
        flex-direction: row;
        gap: 1rem;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
    }
    .core-team::-webkit-scrollbar {
        width: 10px;
        height: 4px;
    }
    .core-team::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 10px;
        width: 12px;
        height: 4px;
    }
    .coreteam-position {
        min-width: 240px;
        flex: 0 0 auto;
    }
    .mentor {
        transform: translateX(0%);
    }
}