.vector-18-snake {
    width: 60%;
    height: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}
.vector-18-snake2 {
  width: 60%;
  height: 100%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  transform: rotate(180deg);
}
.vector-icon {
    width: 449px;
    position: relative;
}
.genesis-icon {
    width: 283.5px;
    position: relative;
}
.solidgate-icon {
    width: 360.5px;
    position: relative;
}
.skelar-icon {
    width: 362px;
    position: relative;
}
.unicorn-icon {
    width: 393.7px;
    position: relative;
}
.logos {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: border-box;
    gap: 80px 260px;
}
.our-partners {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  text-align: left;
  font-size: 36px;
  color: #efefef;
  font-family: 'Sector 034';
}

@media (max-width: 768px) {
  .vector-icon, .genesis-icon, .solidgate-icon, .skelar-icon, .unicorn-icon {
    width: 60%;
  }
  .logos {
    gap: 40px;
  }
}