.our-partners {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.vector-18-snake, .vector-18-snake2 {
  width: 60%;
  height: 100%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.vector-18-snake2 {
  transform: rotate(180deg);
}

.logos-cr {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 16px;
  width: 80%;
}

.logos-barter {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 16px;
  width: 80%;
}

.everstake-icon, .genesis-icon, .solidgate-icon, .skelar-icon, 
.unicorn-icon, .represent-icon, .betterme-icon, .kumekateam-icon, .set-icon, .sigma-icon {
  width: min(30vw, 250px);
  max-width: 100%;
}

.usf-icon, .morshynska-icon, .suputnyk-icon, .nora-icon, .vihola-icon {
  width: min(30vw, 200px);
  max-width: 100%;
}

.milkalliance-icon {
  width: min(30vw, 150px);
  max-width: 100%;
}

.levelup-icon {
  width: min(30vw, 170px);
  max-width: 100%;
  transform: translateX(-20%); 
}

.stepit-icon, .hillel-icon {
  width: min(30vw, 120px);
  max-width: 100%;
  height: 90px;
}

.hillel-icon {
  transform: translateX(300%); 
}
.stepit-icon {
  transform: translateY(-12%);
  transform: translateX(-20%); 
}

.kumekateam-icon {
  transform: translateX(128%); 
}


@media (max-width: 768px) {
  .logos-cr, .logos-barter {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 16px;
      grid-row-gap: 12px;
      width: 90%;
  }

  .everstake-icon, .genesis-icon, .solidgate-icon, .skelar-icon, 
  .unicorn-icon, .represent-icon, .betterme-icon, .betterme-icon, 
  .skelar-icon, .usf-icon, .morshynska-icon, .milkalliance-icon, 
  .hillel-icon, .levelup-icon {
      width: min(40vw, 150px);
  }

  .stepit-icon {
    width: min(40vw, 100px);
    max-width: 100%;
  }
  .hillel-icon {
    width: min(40vw, 154px);
  }

  .hillel-icon, .stepit-icon {
    transform: translateX(0%); 
  }

  .milkalliance-icon {
    width: min(30vw, 120px);
    max-width: 100%;
  }
  .levelup-icon {
    transform: translateX(0%); 
  }
}

@media (max-width: 480px) {
  .logos-cr, .logos-barter {
      grid-template-columns: repeat(3, 1fr);
  }

  .everstake-icon, .genesis-icon, .solidgate-icon, .skelar-icon, 
  .unicorn-icon, .represent-icon, .betterme-icon, .betterme-icon, 
  .skelar-icon, .usf-icon, .morshynska-icon, .milkalliance-icon, 
  .hillel-icon, .stepit-icon, .levelup-icon {
      width: min(60vw, 120px);
  }

  .hillel-icon, .stepit-icon {
    transform: translateX(0%); 
  }

  .stepit-icon {
    width: min(40vw, 64px);
    max-width: 100%;
  }
}

