.vector-18-snake {
    width: 60%;
    height: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}
.vector-18-snake2 {
  width: 60%;
  height: 100%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  transform: rotate(180deg);
}
.our-partners {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  text-align: left;
  font-size: 36px;
  color: #efefef;
  font-family: 'Sector 034';
}

.logos-cr, .logos-barter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: clamp(40px, 8vw, 80px) clamp(80px, 16vw, 260px);
}

.everstake-icon, .genesis-icon, .solidgate-icon, .skelar-icon, 
.unicorn-icon, .represent-icon, .usf-icon {
  width: min(45vw, 450px);
  height: auto;
}

@media (max-width: 768px) {
  .logos-cr, .logos-barter {
    gap: clamp(10px, 1vw, 40px) clamp(20px, 1vw, 130px);
  }

  .everstake-icon, .genesis-icon, .solidgate-icon, .skelar-icon, 
  .unicorn-icon, .represent-icon, .usf-icon {
    width: min(40vw, 220px);
  }
}

